{% load i18n %}
{% load applicationcontent_tags %}


<section class="site-content padding15">
	<div class="container">
		<div class="return-back"><a href="{% app_reverse "news_list" "news.urls" %}">{% trans "Назад в новости" %}</a></div>
		<div class="head-page">{{object.title}}</div>
		<div class="image-in-article"><img src="{{object.get_image_sm}}" alt="{{object.get_image_sm}}"></div>
		<div class="sc-date">{{object.date}}</div>
		<p>{{object.text|safe}}</p>
		<!--<p>Эффект от одной процедуры — как после фракселя или CO2-шлифовки: полностью стираются «гусиные лапки», становятся менее заметными глубокие морщины и поры. На создание технологии крупнейший в мире производитель аппаратов для косметологии Cynosure потратил десять лет, и ее уже назвали прорывом, который изменит индустрию лазерного омоложения.</p>-->

		<hr>

<!--{% for newsimage in images %}
		<div class="other-photo">
			<img src="{{ newsimage.get_sm_image }}" alt="">
		</div>
{% endfor %}-->



    <div class="other-photo">
			{% for newsimage in images %}
     <img src="{{ newsimage.get_sm_image }}" alt="{{ newsimage.get_sm_image }}" />
     </span>
		 {% endfor %}
    </div>



	</div>
</section>
