<div class="footer">
	
	<div class="row">
		
		<div class="medium-4 columns align-self-middle">
			<a href="/" title="Интернет магазин косметики">
		        <img src="__static__img/general/logotype.png" alt="Интернет магазин косметики" title="Интернет магазин косметики"/>
		    </a>
		</div>

		<nav class="medium-4 columns footer-nav-wrapper">
			<div class="footer-nav-item">
		    	<h6>Каталог</h6>
		    	<ul>
		    		{{> navigation/navigation nav.catalog}}
		    	</ul>
		    </div>

		    <div class="footer-nav-item">
		    	<h6>Информация</h6>
		    	<ul>
		    		{{> navigation/navigation nav.pages}}
		    	</ul>
		    </div>
		</nav>

	    <div class="medium-4 columns">
	    	<h6>Связаться с нами</h6>

	    		<!-- <img src="__static__img/general/icon-map.png" alt="" title=""/> -->
	    		<p>г. Великий Устюг, ул. Лорем Ипсума, д. 12</p>
	

	    		<!-- <img src="__static__img/general/icon-phone.png" alt="" title=""/> -->
	    		<a href="tel:+1234567890">+7 999 999 95 95</a>
	
	    	<div class="social social-wrapper">
	    		<a href="" class="social-link" title=""><img src="__static__img/general/icon-vk.png" alt="" title=""/></a>
	    		<a href="" class="social-link" title=""><img src="__static__img/general/icon-facebook.png" alt="" title=""/></a>
	    		<a href="" class="social-link" title=""><img src="__static__img/general/icon-twitter.png" alt="" title=""/></a>
	    		<a href="" class="social-link" title=""><img src="__static__img/general/icon-inst.png" alt="" title=""/></a>
	    	</div>
	    </div>

	</div>

</div>