
@font-face {
  font-family: 'LatoLatinMed-Regular';
  src: url('LatoLatinMed-Regular.eot?#iefix') format('embedded-opentype'),  url('LatoLatinMed-Regular.woff') format('woff'), url('LatoLatinMed-Regular.ttf')  format('truetype'), url('LatoLatinMed-Regular.svg#LatoLatinMed-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
