<div id="profits" class="row profits-wrapper">
	<div class="column profits-item">
		<div class="profits-title" style="padding-left:75px;">
			<img src="__static__img/general/icon-delivery.png" class="profits-icon" alt="">
			Своевременная<br/> доставка
		</div>
		<img src="__static__img/assets/profits/profit-1.png" />
	</div>
	<div class="column profits-item">
		<div class="profits-title">
			<img src="__static__img/general/icon-assort.png" class="profits-icon" alt="">
			Широкий<br/> ассортимент
		</div>
		<img src="__static__img/assets/profits/profit-2.png" />
	</div>
	<div class="column profits-item">
		<div class="profits-title">
			<img src="__static__img/general/icon-24.png" class="profits-icon" alt="">
			Работаем 24 часа<br/> в сутки
		</div>
		<img src="__static__img/assets/profits/profit-3.png" />
	</div>
	<div class="column profits-item">
		<div class="profits-title">
			<img src="__static__img/general/icon-percent.png" class="profits-icon" alt="">
			Акции и скидки<br/> для всех
		</div>
		<img src="__static__img/assets/profits/profit-4.png" />
	</div>
</div>